
//- Navbar mixins
mixin nav(name, id, style)
  - var style = (typeof style === 'undefined') ? "default" : style
  nav( role="navigation", class=["navbar-custom", "navbar-" + style] )
    .navbar-header
      button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")= name

    .collapse.navbar-collapse( id=id )
      ul.nav.navbar-nav
        +nav_item( "/", "active" ) Home
        +nav_item( "/debates", "other" ) Debates
        +nav_item( "contact.html", "other" ) Contact
      ul.nav.navbar-nav.navbar-right
        if (!user)
          +nav_item( "/login", "other" ) Login
          +nav_item( "/register", "other" ) Register 
        if (user)
          +nav_item_dropdown( "#", "other" )( label="Account")
            +nav_item( "/settings", "other" ) Settings
            +nav_item( "/logout", "other" ) Logout
      

mixin nav_item(href, active)
  li(class=active): a( href=href )
    block

mixin nav_item_dropdown(href, active)
  li(class=["dropdown", active])
    a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
      span.caret
    ul.dropdown-menu( role="menu" )
      block

mixin nav_divider
  li.divider

mixin nav_header
  li.dropdown-header
    block

//- End navbar mixins


+nav("DebateTable", "dropdown_menu")

    //- +nav_divider
    //- +nav_header Nav header
    //- +nav_item( "#" ) Separated link
    //- +nav_item( "#" ) One more separated link
