extends ../layout

block content 
  h1.
    #{title}
    
  if(user)
    btn.btn.btn-warning#contributeButtonTop(type="button") Contribute
  if(!user)
    h4 Log in if you would like to contribute  
  div#aiTop.addItem(style="display: none;")
    form#formAddItem(name="additem",method="post",action="/debates/#{debate._id}")
      p
      p Title: 
        input#inputTitle(type="text",placeholder="Title",name="title")
      p Claim: 
        input#inputClaim(type="text",placeholder="Claim",name="claim")
      p Source: 
        input#inputSource(type="text",placeholder="Source",name="source")
      div.formbools  
        div.redleft Left 
          input#inputRedBlue(type="radio",name="redblue",value="left") 
        div.blueright Right
          input#inputRedBlue(type="radio",name="redblue",value="right") 
      p
        input#inputDebate(type="hidden",value="#{debate._id}",name="debate")
      
      if(user)
        p
          input#inputUserItem(type="hidden",value="#{user._id}",name="user")
      p
        button#btnSubmit(type="submit") Support Argument
  
  
  p
  div.debateTop
    div#redscore
      h5 score
    div#red.debateSide        
      h4 #{debate.red}
      
    div#bluescore
      h5 score
    div#blue.debateSide
      h4 #{debate.blue}
  
  div.commentComingSoon(style="margin: 0 auto 0 auto; text-align: center; color: rgb(100,100,100);")
    p 
      i A commenting feature is still under construction
    p 
      i sorry for the inconvenience
  
  div.debateContent
    div#redside.side
      div.redItems
        - each item, i in items
          if(item.debate.toString() == debate._id)
            if(item.redblue === "left")
              div.eaitem#eaitems
                p(style="color: #6655A6;")
                  b 
                    = item.title
                p
                  b Claim: 
                  = item.claim
                p
                  b Source: 
                  = item.source 
                p 
                  b Posted By: 
                  = item.user[0].username
                p
                  button.btn.btn-default#commentButton(type="button") Comment
                div#commentForm(style="display: none;")
                  form#formAddComment(name="addcomment",method="post",action="/debates/#{debate._id}")
                    p
                    p Comment: 
                      input#inputComment(type="text",placeholder="Add your comment",style="color: rgb(0,0,0);",name="comment")
                      
                    if(user)
                      p
                        input#inputUserComment(type="hidden",value="#{user._id}",name="author")
                    div#commentSoon(style="display: none;")
                      p Comments have yet to be fully integrated
                      p Thank you for your patience
                    p
                      button.btn.btn-primary#sendComment(type="button") Send
                                    
                div.eacomment
            
    div#blueside.side
      div.blueItems
        - each item, i in items
          if(item.debate.toString() == debate._id)
            if(item.redblue === "right")
              div.eaitem#eaitems
                p(style="color: #6655A6;")
                  b 
                    = item.title
                p
                  b Claim: 
                  = item.claim
                p
                  b Source: 
                  = item.source 
                p 
                  b Posted By: 
                  = item.user[0].username
                p
                  button.btn.btn-default#commentButton(type="button") Comment
                  
                div#commentForm(style="display: none;")
                  form#formAddComment(name="addcomment",method="post",action="/debates/#{debate._id}")
                    p
                    p Comment: 
                      input#inputComment(type="text",placeholder="Add your comment",style="color: rgb(0,0,0);",name="comment")
                      
                    if(user)
                      p
                        input#inputUserComment(type="hidden",value="#{user._id}",name="author")
                    div#commentSoon(style="display: none;")
                      p Comments have yet to be fully integrated
                      p Thank you for your patience
                    p
                      button.btn.btn-primary#sendComment(type="button") Send
                      
    script.
      function addCommentReveal() {
         var i = document.getElementById("commentForm");
         if(i.style.display == 'block' ) {
           i.style.display = 'none';
         } else if (i.style.display == 'none') {
           i.style.display = 'block'
         }  else {
           i.style.display = 'none';
         };
      };
      
      function comingSoon() {
         var i = document.getElementById("commentSoon");
         if(i.style.display == 'block' ) {
           i.style.display = 'none';
         } else if (i.style.display == 'none') {
           i.style.display = 'block'
         }  else {
           i.style.display = 'none';
         };
      };
      
        document.getElementById("commentButton").addEventListener("click", addCommentReveal);
          
        document.getElementById("sendComment").addEventListener("click", comingSoon);
              
  div.space  
  if(user)
    btn.btn.btn-warning#contributeButtonBot(type="button") Contribute
    
  div#aiBot.addItem(style="display: none;")
    form#formAddItem(name="additem",method="post",action="/debates/#{debate._id}")
      p
      p Title: 
        input#inputTitle(type="text",placeholder="Title",name="title")
      p Claim: 
        input#inputClaim(type="text",placeholder="Claim",name="claim")
      p Source: 
        input#inputSource(type="text",placeholder="Source",name="source")
      div.formbools  
        div.redleft Left 
          input#inputRedBlue(type="radio",name="redblue",value="left") 
        div.blueright Right
          input#inputRedBlue(type="radio",name="redblue",value="right") 
      p
        input#inputDebate(type="hidden",value="#{debate._id}",name="debate")
      
      if(user)
        p
          input#inputUserItem(type="hidden",value="#{user._id}",name="user")
      p
        button#btnSubmit(type="submit") Support Argument

  
  script.
    function addItemRevealTop() {
       var i = document.getElementById("aiTop");
       if(i.style.display == 'block' ) {
         i.style.display = 'none';
       } else if (i.style.display == 'none') {
         i.style.display = 'block'
       }  else {
         i.style.display = 'none';
       };
    };
    function addItemRevealBot() {
       var i = document.getElementById("aiBot");
       if(i.style.display == 'block' ) {
         i.style.display = 'none';
       } else if (i.style.display == 'none') {
         i.style.display = 'block'
       }  else {
         i.style.display = 'none';
       };
    };
    

    document.getElementById("contributeButtonTop").addEventListener("click", addItemRevealTop);
    
    document.getElementById("contributeButtonBot").addEventListener("click", addItemRevealBot);
    
    
